DB_USER=admin
DB_PASSWORD=thisispassword
DB_NAME=bill-app
DB_HOST=localhost
DB_PORT=5432

REDIS_CONNECTION=localhost:6379

JWT__KEY=YourSuperSecretKeyAtLeast32Characters!
JWT__ISSUER=bill-app
JWT__AUDIENCE=bill-app
JWT__DURATION_IN_MINUTES=15

REFRESH_TOKEN__DURATION_IN_DAY=7
REFRESH_TOKEN__OLD_TOKEN_GRACE_IN_SECONDS=15

USER_CACHE__TTL_IN_HOURS=24
USER_VERIFY_CACHE__TTL_IN_HOURS=1

APP_DOMAIN=https://localhost:7188

GOOGLE_AUTH_CLIENT_ID=yourgoogleauthclientid

FRONT_END_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER_EMAIL=youremail@gmail.com
SMTP_SENDER_NAME=Bill App
SMTP_SENDER_PASSWORD=yourpassword

LOGIN_RATE_LIMIT_BY_IP_COUNT=20
LOGIN_RATE_LIMIT_BY_EMAIL_COUNT=5
LOGIN_RATE_LIMIT_TTL_MINUTE=15

MAX_DEVICE=5
