DB_USER=admin
DB_PASSWORD=thisispassword
DB_NAME=bill-app
DB_HOST=localhost
DB_PORT=5432

REDIS_CONNECTION=localhost:6379

JWT_KEY=YourSuperSecretKeyAtLeast32Characters!

APP_DOMAIN=https://localhost:7188

GOOGLE_AUTH_CLIENT_ID=yourgoogleauthclientid

FRONT_END_URL=http://localhost:5173

SMTP_SENDER_EMAIL=youremail@gmail.com
SMTP_SENDER_PASSWORD=yourpassword

STORAGE_PROVIDER=S3
AWS_ACCESS_KEY_ID=awsAccessKeyID
AWS_SECRET_ACCESS_KEY=awsSecretAccessKey
AWS_REGION=ap-east-2
S3_BUCKET_NAME=jeffery-bill-app
S3_BUCKET_AVATAR_FOLDER=avatars
CLOUD_FRONT_URL=https://cloud.front.url
